{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_flexsections/local/content

    Displays the complete course format.

    Example context (json):
    {
        "title": "Course",
        "initialsection": {
            "num": 0,
            "id": 34,
            "cmlist": {
                "cms": [
                    {
                        "cmitem": {
                            "cmformat": {
                                "cmname": {"displayvalue": "<a class=\"aalink\" href=\"#\"><span class=\"instancename\">Forum example</span></a>"},
                                "hasname": "true"
                            },
                            "cmid": 3,
                            "anchor": "module-3",
                            "module": "forum",
                            "extraclasses": "newmessages"
                        }
                    }
                ],
                "hascms": true
            },
            "iscurrent": true,
            "summary": {
                "summarytext": "Summary text!"
            }
        },
        "sections": [
            {
                "num": 1,
                "id": 35,
                "header": {
                    "title": "Section title",
                    "url": "#"
                },
                "cmlist": {
                    "cms": [
                        {
                            "cmitem": {
                                "cmformat": {
                                    "cmname": {"displayvalue": "<a class=\"aalink\" href=\"#\"><span class=\"instancename\">Another forum</span></a>"},
                                    "hasname": "true"
                                },
                                "cmid": 4,
                                "anchor": "module-4",
                                "module": "forum",
                                "extraclasses": "newmessages"
                            }
                        }
                    ],
                    "hascms": true
                },
                "iscurrent": true,
                "summary": {
                    "summarytext": "Summary text!"
                }
            }
        ],
        "format": "flexsections",
        "sectionreturn": 1
    }
}}

{{#slider}}
    {{#has_images}}
    <div class="zajuna-slider-wrapper" style="margin-bottom: 30px;">
        <!-- Toggle button for slider and action menu -->
        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex align-items-center">
                <h4 class="mb-0 mr-3">{{title}}</h4>
                {{#can_edit}}
                    {{#is_editing}}
                    <!-- Action menu dropdown for teachers -->
                    <div class="dropdown zajuna-slider-action-menu">
                        <button class="btn btn-sm btn-link dropdown-toggle p-0" type="button" id="sliderActionMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="sliderActionMenu">
                            {{#is_visible_to_students}}
                            <a class="dropdown-item zajuna-slider-toggle-visibility" href="#" data-action="hide" data-courseid="{{courseid}}">
                                <i class="fa fa-eye-slash"></i> {{#str}}hidefromstudents, local_slider{{/str}}
                            </a>
                            {{/is_visible_to_students}}
                            {{^is_visible_to_students}}
                            <a class="dropdown-item zajuna-slider-toggle-visibility" href="#" data-action="show" data-courseid="{{courseid}}">
                                <i class="fa fa-eye"></i> {{#str}}showtostudents, local_slider{{/str}}
                            </a>
                            {{/is_visible_to_students}}
                        </div>
                    </div>
                    {{/is_editing}}
                {{/can_edit}}
            </div>
            <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#zajunaSliderCollapse" aria-expanded="true" aria-controls="zajunaSliderCollapse">
                <span class="zajuna-slider-toggle-text">Ocultar</span>
                <i class="fa fa-chevron-up zajuna-slider-toggle-icon"></i>
            </button>
        </div>
        
        <!-- Collapsible slider container -->
        <div class="collapse show" id="zajunaSliderCollapse">
            <div id="zajunaCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {{#images}}
            <li data-target="#zajunaCarousel" data-slide-to="{{index}}" {{#first}}class="active"{{/first}}></li>
            {{/images}}
        </ol>
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {{#images}}
            <div class="carousel-item {{#first}}active{{/first}}" data-desktop="{{desktop_image}}" data-mobile="{{mobile_image}}">
                {{#has_url}}<a href="{{url}}" target="_blank">{{/has_url}}
                <img class="d-block w-100 zajuna-slider-img" src="data:image/jpeg;base64,{{desktop_image}}" alt="Slider image" />
                {{#has_url}}</a>{{/has_url}}
            </div>
            {{/images}}
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#zajunaCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#zajunaCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
        </div>
    </div>
    {{/has_images}}
{{/slider}}

{{> format_flexsections/local/navigate_back_to }}
<div id="{{uniqid}}-course-format" data-flexsections-accordion="{{{accordion}}}"
        data-flexsections-mainsection="{{mainsection}}">
    <h2 class="accesshide">{{{title}}}</h2>
    {{{completionhelp}}}
    <ul class="{{format}} flexsections-level-0" data-for="course_sectionlist">
        {{#initialsection}}
            {{> format_flexsections/local/content/section }}
        {{/initialsection}}
        {{#sections}}
            {{> format_flexsections/local/content/section }}
        {{/sections}}
    </ul>
    {{#hasnavigation}}
        <div class="single-section">
            {{#sectionnavigation}}
                {{> format_flexsections/local/content/section }}
            {{/sectionnavigation}}
            <ul class="{{format}}">
                {{#singlesection}}
                    {{> format_flexsections/local/content/section }}
                {{/singlesection}}
            </ul>
            {{#sectionselector}}
                {{> format_flexsections/local/content/section }}
            {{/sectionselector}}
        </div>
    {{/hasnavigation}}
</div>
{{#js}}
    require(['format_flexsections/local/content'], function(component) {
        component.init('{{uniqid}}-course-format', {}, {{sectionreturn}});
    });
{{/js}} 